@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #32271a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}
* {
  box-sizing: border-box;
}
body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
.section {
  padding: 48px 0;
}
.hero-section {
  padding: 272px 0;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}
.hero-title .accent {
  color: var(--color-brand-light);
}
.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  padding: 16px 32px;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
.Link {
  color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.Link:hover {
  color: var(--color-brand-light);
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.heder-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.heder-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
.advantages-cection {
  background-color: var(--color-brand-light);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--color-brand-dark);
}
.tradaditions-title {
  margin-bottom: 42px;
}
.traditions-section {
  padding-top: 96px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text.limited {
  max-width: 340px;
}
.traditons-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}

.chefs-title {
  margin-bottom: 80px;
}
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.format-card {
  padding: 24px;
  border: 1px solid lightgray; /* поменять */
  border-radius: 16px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.contact-title {
  margin-bottom: 16px;
}
.address-link {
  text-decoration: none;
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
}
.address-link:hover {
  color: var(--color-brand-light);
}
.address-copyyrihgt {
  font-size: 14px;
  font-weight: 400;
}
