@import '../scss/utils/fonts';
@import '../scss/utils/varlables';

@import '../scss/bais';
@import '../scss/utils/buttons';
@import '../scss/components/header';
@import '../scss/utils/utils';

@import '../scss/components/advantages';
@import '../scss/components/carousel-button';

@import '../scss/components/chefs';

@import '../scss/components/chefs-card';

@import '../scss/components/formats-section';

@import '../scss/components/formats-card';

@import '../scss/components/footer';

@import '../scss/components/input';
@import '../scss/components/pagination';

@import '../scss/components/forms-terns';

@import '../scss/components/traditions';

@import '../scss/components/Links';

@import '../scss/components/mobile-menu';

@import '../scss/components/modal';

@import '../scss/components/hero-section';

@import '../scss/components/contact-section';

@import '../scss/components/sections';

@import '../scss/utils/mixins';

@import '../scss/utils/text';

// .circle {
//   @include circle(100px, 100px, white);
//   //   width: 100px;
//   //   height: 100px;
//   //   background-color: white;
// }

/* chefs */

// .formats-button {
//   fill: var(--color-primary-dark);
// }
// .contact-forma {
//   flex-basis: 50%;
//   flex-shrink: 0;
// }

/* Modal */

/* Forma */
