:root {
  --color-primary-dark: #32271a;
  --color-primary-light: #faf4ea;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a28288;
}
