.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-dark);
  }
  &.next {
    transform: rotate(180deg);
  }
}
