.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;

    &::before,
    &::after {
      display: block;
      position: absolute;
      width: 352px;
      bottom: 24px;
      border: 2px solid var(--color-brand-light);
      content: '';
    }
    &::before {
      left: 0px;
    }
    &::after {
      right: 0px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
