.formats-section {
  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}
