.hero-section {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-sections-background.jpg');
  padding: 272px 0;
  /* background: url('../images/coupie-in-bakery.jpg') no-repeat center/top cover; */
  &__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-family: Poppins, sans-serif;
    font-size: 128px;
    font-weight: 900;
    text-align: center;
  }
}
