.traditions-section {
  padding-top: 96px;

  &__title {
    margin-bottom: 42px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__content {
    max-width: 710px;
  }
  &__text {
    &--limited {
      max-width: 340px;
    }
  }
}
